@mixin font-family{
    font-family: monospace, "メイリオ", Georgia, 'Times New Roman';
}

@mixin search-setting {
    border-radius: 0px;
    
}

@mixin go-up {
    transform: translateY(-20px);
}

@mixin go-down {
    transform: translateY(30px);
}

$height: 120px;

.navbar::after{
    content: '';
    background-color: white;
    top: -12px;
    left: 0;
    right: 0;
    z-index: 109;
}

.navbar{
    background-color: black;
    top: 0;
    z-index:99;
}

.navbar, .navbar::after{
    width: 1027px;
    height: $height;
    position: fixed;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 73%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 73%, 0 100%);

}

.nav{
    @include go-up;
    height: $height;
}

.navitem{
    border-width: 10px;
    border-color: black;
    border-style: solid;
}

.center{
    content: '';
    background-color: grey;
    z-index: 120;
    display: block;
}

.font{
    padding-top: 30px;
    margin-left: 10px;
    font-size: larger;
    @include font-family;
}

.color{
    color: black;
}


.input{
    @include search-setting;
    @include go-down;
}

.search{
    @include search-setting;
    @include go-down;
}

.searchborder{
    border: solid;
    border-color: black;
    height: $height;
    border-width: 10px;
    border-bottom-style: hidden;
    @include go-up;
    text-align:center;
}