.container{
    padding: 15px 15px 5px;
    margin-top: 22px;
    box-shadow: 0px 0px 0px;
    border-left-style: solid;
    border-left-color: white;
    
}

.div{
    margin-top: 10px;
    margin-right: 0;
}

$ani-time: 1s;

@mixin ani-test{
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@mixin leftslide{
    animation-name: leftslide;
    animation-duration: $ani-time;
    animation-fill-mode: forwards;
}

@mixin leftslide90{
    animation-name: leftslide90;
    animation-duration: $ani-time;
    animation-fill-mode: forwards;
}

@mixin rightslide{
    animation-name: rightslide;
    animation-duration: $ani-time;
}

@mixin rightslide90{
    animation-name: rightslide90;
    animation-duration: $ani-time;
}

@mixin slidein{
    animation-name: slidein;
    animation-duration: $ani-time;
    animation-fill-mode: forwards;
}

@mixin slideout{
    animation-name: slideout;
    animation-duration: $ani-time;
    animation-fill-mode: forwards;
}

.leftslide{
    @include leftslide();
}

.rightslide{
    @include rightslide();
}

.slidein{
    @include slidein();
}

.sites{
    overflow: hidden;
    position: absolute;
    @include slideout();
}

.sitesc{
    overflow: hidden;
    position: absolute;
    @include slidein();
}

.contents{
    overflow: hidden;
}

.container:hover{
    border-left-color: black;
    box-shadow: 0 0 5px grey;
}

.title{
    font-size: 23px;
}

.line{
    font-size: 23px;
    font-weight: bold;
    margin-right: 20px;
    color: grey;
}

.title_block{
    border-bottom-style: solid;
    border-width: thin;
}

.description{
    font-size: 15px;
}

@mixin vertical_align{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}



.vertical_align{
    @include vertical_align();
    @media only screen and (min-width: 768px) {
        @include rightslide90();
    }   
}
    

.vertical_alignc{
    @include vertical_align();
    @media only screen and (min-width: 768px) {
        @include leftslide90();
    }
}

.leftslidebutton{
    @include vertical_align();
    border-style: hidden;
    border-radius: 0%;
    border-bottom-style: solid;
}

.rightslide{
    @include rightslide();
}

@keyframes leftslide {
    from {right: 0%;}
    to {right: 100%;}
}

@keyframes leftslide90 {
    from {right: 0%;}
    to {right: 90%;}
}

@keyframes rightslide {
    from {right: 100%;}
    to {right: 0%;}
}

@keyframes rightslide90 {
    from {right: 90%;}
    to {right: 0%;}
}

@keyframes slidein {
    from {left: 100%;}
    to {left: 0%;}
}

@keyframes slideout {
    from {left: 0%;}
    to {left: 100%;}
}

.lay{
    z-index: 20;
}